<h1>Books#edit</h1>

<%= form_with model: @book, local:true do |f| %>
  <%= f.label :title, "書籍名" %>
  <%= f.text_field :title %>
  <%= f.label :content, "内容" %>
  <%= f.text_field :content %>
  <%= f.label :tag_list, "タグ" %>
　<%= f.text_field :tag_list,value: @book.tag_list.join('、') %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "詳細", book_path(@book.id) %> 
<%= link_to "一覧", books_path %>
 