<h1>Books#index</h1>

<%= form_with model: @book, local:true do |f| %>
  <%= f.label :title, "書籍名" %>
  <%= f.text_field :title %>
  <%= f.label :content, "内容" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<% @books.each do |book| %>
  <h4><%= book.title %></h4>
  <%= book.content %>
  <%= link_to "詳細", book_path(book.id) %> 
  <%= link_to "編集", edit_book_path(book.id) %>
<% end %>


